<div>
    Show App Details Here
</div>


<div>
    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>
    <br>
    Full Name -: {{firstName + " " + lastName}}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>version</th>
                <th>-</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in list">
                <td>{{x.name}}</td>
                <td>{{x.version | uppercase}}</td>
                <td>*</td>
            </tr>
        </tbody>
    </table>

</div>