
html {
}

body {
}

#ng-view {
    position: relative;
    padding-top: 50px;
}

.whiteText {
    color: white;
}

    .whiteText:hover {
        color: white;
    }

.cardView {
    border: 3px solid black;
    height: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

    .cardView .cardHeader {
        background-color: ee00ff00;
        opacity: 0.8;
        font-size: 14pt;
        color: white;
        padding: 5px;
        width: 100%;
    }


    .cardView .cardBody {
        background-image: url("images/cardBackground.png");
        padding: 5px;
        font-size: 10pt;
        /*border: solid 1px blue;*/
    }


    .cardView .cardImage {
        height: 50px;
        width: 50px;
        margin-top: 10px;
        border: solid 0px red;
    }

    .cardView .cardClose {
        color: white;
        font-weight: bold;
        margin-right: 5px;
        position: relative;
    }

    .cardView .cardFooter {
        /*border-top: dashed 1px black;*/
        color: white;
        width: auto;
        font-weight: bold;
        padding-top: 5px;
        padding-bottom: 5px;
    }


    .cardView .close {
        font-size: 18pt;
        opacity: 1.0;
    }

    .cardView .cardBodyLeft {
        margin-top: -5px;
    }

    .cardView .cardBodyRight {
        margin-left: 20px;
        margin-top: 2px;
    }

.detail
{
    margin:10px;
}

    .detail .detailHeader
    {
        margin:10px;
        padding:10px;
        color:white;
        font-size:16px;
        font-weight:bold;
    }

    .detail .detailBody
    {
        margin:10px;
        padding:10px;
    }


@media screen and (max-width: 640px) {
    #ng-view {
        padding-top: 110px;
    }
}
